<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js">

<div style="width: 90%; margin: auto;">
    <div style="text-align: center;">
        <h2>Vous devez nous rendre le film :<span style="color: red;"> {{ film }} </span> </h2>
    </div>
    <div style="text-align: center;">
        <p>Bonjour <span style="color: red;">{{ username }}</span>, </br> Vous avez loué le film <span style="color: red;">{{ film }}</span>
       
            {{ film }}
            le <span style="color: red;">{{ date_de_location }}</span> pour une durée de 15 jours</p>
        <p>Veuillez nous le rendre le plus vite possible sous peine de violence physique et psychologique :-)</p>
        <p>Cordialement: La direction ! </p>
        <p>Bisoux love </p>
    </div>
</div>